.calc {
    display: block;
    width: 700px;
    padding: 15px;
    border: 1px solid #000;
    margin: 20px auto 50px auto;
}

.calc-result {
    border: 1px solid #000;
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
}

.calc-actions {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
}

.calc-btn {
    width: calc(25% - 10px);
    height: 70px;
    margin: 0px 10px 10px 0px;
    font-size: 2rem;
}
.calc-equals {
    width: calc(50% - 10px);
}

.calc-multi {
    padding-top: 15px;
}
